<h2>SIGN UP</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="centerDiv">
  <%= f.label :name %>
  <%= f.text_field :name %></div>

  <div class="centerDiv">
  <%= f.label :email %>
  <%= f.email_field :email %></div>

  <div class="centerDiv"><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div class="centerDiv"><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div class="centerDiv"><%= f.submit "Sign up" %></div>
  
<% end %>
<div class="centerDiv">
<%= render "links" %>
</div>