<h1>Listing verifications</h1>

<table>
  <tr>
    <th>User</th>
    <th>Report</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @verifications.each do |verification| %>
  <tr>
    <td><%= verification.user %></td>
    <td><%= verification.report %></td>
    <td><%= link_to 'Show', verification %></td>
    <td><%= link_to 'Edit', edit_verification_path(verification) %></td>
    <td><%= link_to 'Destroy', verification, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Verification', new_verification_path %>
