<h2>CHANGE YOUR PASSWORD</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="centerDiv"><%= f.label :password, "New password" %><br />
  <%= f.password_field :password %></div>

  <div class="centerDiv"><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div class="centerDiv"><%= f.submit "Change my password" %></div>
<% end %>
<div class="centerDiv">
<%= render "links" %>
</div>