<h1>Listing agencies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Id</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agencies.each do |agency| %>
  <tr>
    <td><%= agency.name %></td>
    <td><%= agency.id %></td>
    <td><%= link_to 'Show', agency %></td>
    <td><%= link_to 'Edit', edit_agency_path(agency) %></td>
    <td><%= link_to 'Destroy', agency, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agency', new_agency_path %>
