<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @agency.name %>
</p>

<p>
  <b>Id:</b>
  <%= @agency.id %>
</p>


<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
