<% if mobile_device? %>
      <%= stylesheet_link_tag '/stylesheets/report' %>
<% else %>
      <%= stylesheet_link_tag '/stylesheets/mobile/report' %>
<% end %>

<%= javascript_include_tag '/javascripts/reportSubmit' %>



<%=  form_for @report do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div id="page1" class="page">
	  <div id="container">
		<div id="application">	
			<div class="title">
				Report an Issue
			</div>
			
			<ul class="categories">
				<li>Incorrect bus arrival time</li>
				<li>Bus didn't come to stop</li>
				<li>Bus came but wasn't listed</li>
				<li>Incorrect stop information</li>
				<li>Other</li>
			</ul>

            <%= f.hidden_field :title %>

            <br />
            <div class="next">Next ></div>

			<div class="progress-bar">
				<div class="green">
				</div>
				
				<div class="circle completed">
					<div class="help">
						Step 1: Select the issue type.
					</div>
				</div>
				
				<div class="spacing">
				</div>
				
				<div class="circle">
				</div>
				
				<div class="spacing">
				</div>
				
				<div class="circle">
				</div>
			</div>
			<br />
			<br />
		</div>
	</div>
	  
  </div>

  <div id="page2" class="page">
    <div id="container">
      <div id="application">
            <div class="title">
              Report an Issue
            </div>

            <%= f.hidden_field :lat %>
            <%= f.hidden_field :lon %>

            <%= f.text_field :stop, { :value => "Enter a stop ID or address",
                                      :onclick => "this.value=''",
                                      :style => "font-size: 18px" } %>

            <%= render 'shared/map' %>
      <br />
      <div class="next">Next ></div>
      <br />
      <br />
      <div class="progress-bar">
        <div class="green">
        </div>

        <div class="circle completed">
        </div>

        <div class="green">
        </div>

        <div class="circle completed">
        </div>

        <div class="spacing">
        </div>

        <div class="circle">
        </div>
      </div>
    </div>
  </div>
  </div>

  <div id="page3" class="page">
      <div id="container">
        <div id="application">
          <div class="title">
            Select a Route
          </div>

          <%= f.hidden_field :route %>

          <ul class="categories routes">

          </ul>

        <br />
        <div class="next">Next ></div>
        <br />
        <br />
        <div class="progress-bar">
          <div class="green">
          </div>

          <div class="circle completed">
            <div class="help">
              Step 1: Select the issue type.
            </div>
          </div>

          <div class="green">
          </div>

          <div class="circle completed">
          </div>

          <div class="spacing">
          </div>

          <div class="circle">
          </div>
        </div>
        </div>
      </div>
  </div>

  <div id="page4" class="page">
    <div id="container">
      <div id="application">
        <div class="title">
          Any additional comments?
        </div>
        <div class="field">
          <%= f.label :body %>
          <%= f.text_area :body %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
      </div>
      <br />
      <div class="next">Next ></div>
      <br />
      <br />
      <div class="progress-bar">
        <div class="green">
        </div>

        <div class="circle completed">
          <div class="help">
            Step 1: Select the issue type.
          </div>
        </div>

        <div class="green">
        </div>

        <div class="circle completed">
        </div>

        <div class="spacing">
        </div>

        <div class="circle">
        </div>
      </div>
    </div>

  </div>

<% end %>
