<%= stylesheet_link_tag '/stylesheets/report.css' %>
<%= javascript_include_tag '/javascripts/reportSubmit' %>



<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    
  <%=  form_for :report, :remote => true do |f| %>
        <%= f.hidden_field :title %>
        <%= f.hidden_field :stop %>
        <%= f.hidden_field :route %>
        <%= f.hidden_field :body %>
        <%= f.hidden_field :lat %>
        <%= f.hidden_field :lon %>
  <% end %>
    
  <div id="page1" class="page"> 
	  <div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	  </div>  	
	  <div id="container">
		<div id="application">	
			<div class="title">
				Report an Issue
			</div>
			
			<ul class="categories">
				<li>Incorrect bus arrival time</li>
				<li>Bus didn't come to stop</li>
				<li class="active">Bus came but wasn't listed</li>
				<li>Incorrect stop information</li>
				<li>Other</li>
			</ul>

            <br />
            <div class="next">Next ></div>

			<div class="progress-bar">
				<div class="green">
				</div>
				
				<div class="circle completed">
					<div class="help">
						Step 1: Select the issue type.
					</div>
				</div>
				
				<div class="spacing">
				</div>
				
				<div class="circle">
				</div>
				
				<div class="spacing">
				</div>
				
				<div class="circle">
				</div>
			</div>
			<br />
			<br />
		</div>
	</div>
	  
  </div>

  <div id="page2" class="page">
    <div id="container">
      <div id="application">
            <div class="title">
              Select a Stop
            </div>

            <ul class="categories">
              <li>
                Enter a stop number <%=  image_tag "ajaxload.gif" %>
              </li>
              <li id="find-near">
                Find a stop near me
                <ul id="stops-near">

                </ul>
              </li>
            </ul>
      </div>
      <br />
      <div class="next">Next ></div>
      <br />
      <br />
      <div class="progress-bar">
        <div class="green">
        </div>

        <div class="circle completed">
          <div class="help">
            Step 1: Select the issue type.
          </div>
        </div>

        <div class="green">
        </div>

        <div class="circle completed">
        </div>

        <div class="spacing">
        </div>

        <div class="circle">
        </div>
      </div>
    </div>
  </div>

  <div id="page3" class="page">
	  <div class="field">
		<%= f.label :route %><br />
		<%= f.text_field :route %>
	  </div>
	  <div class="field">
		<%= f.label :stop %><br />
		<%= f.number_field :stop %>
	  </div>
  </div>
  
  <div id="page3" class="page">
	  <div class="field">
		<%= f.label :body %><br />
		<%= f.text_area :body %>
	  </div>
	  <div class="field">
		<%= f.label :user %><br />
		<%= f.text_field :user %>
	  </div>
	  <div class="actions">
		<%= f.submit %>
	  </div>
  </div>
<% end %>
