<div id="r<%= report.id %>" class="report" data-lat="<%= report.lat %>" data-lon="<%= report.lon %>">
	<div class="issue-left">
		<div class="issue-approve">
			<div class="vote">
			<%= form_for @vote, :remote => true do |f| %>
				<%= f.hidden_field "report_id", :value => report.id %>
				<%= f.hidden_field "user_id", :value => current_user.try(:id) %>
				<%= f.submit "vote" %>
			<% end %>
			</div>
		</div>
		<div class="down-arrow">
			
		</div>
		<div class="issue-approval-count">
			<span class="count"><%= report.votes.count %></span>
			<br />
			<div style="color:gray; font-size:11px">approvals</div>
		</div>
	</div>
	
	<div class="issue-right">
		<div class="issue-title">
			<%= report.route %> - <%= report.title %>
		</div>
		
		<div class="issue-desc">

            <br />

            <div style="height: 18px; overflow: auto">
            <%= report.body %>
            </div>

            Stop #: <%= report.stop %>

            <br />

            <span style="font-size: 10px">
            Submitted <span class="distance-away">??</span> miles away,
            <%= time_ago_in_words(report.created_at) %> ago by <%= report.user.email %>
            </span>


        </div>
	</div>
	
	<div style="clear:both"></div>
	<!--
	<div class="actions">
	<%= link_to 'Show', report %>
    <%= link_to 'Edit', edit_report_path(report) %>
    <%= link_to 'Destroy', report, confirm: 'Are you sure?', method: :delete %>
    </div>
    -->
</div>


