<%=  javascript_include_tag "/javascripts/viewReports.js" %>
<%=  javascript_include_tag "/javascripts/jqDrag.js" %>
<div class="header">
  <h1>Issues Log</h1>
  <!--
  <div class="new-report button">
    <%= link_to '+', new_report_path %>
  </div>

  <div class="notifications button">
    -
  </div>

  <div class="filter button">
    V
  </div>
           -->
  <input type="button" value="+" onclick="document.location(<%=new_report_path%>" />
  <select>
    <option value="nada"></option>
    <option value="route">Route</option>
    <option value="supporters">Number of Supporters</option>
    <option value="status">Status</option>
  </select>
</div>
</div>

<div id="posts">
	<%= render :partial => @reports %>
</div>

<span>
  <%- if user_signed_in? %>
    <%= "Signed in as #{current_user.name}. Not you?" %>
      <%= link_to 'Sign out', destroy_user_session_path %>
  <%- else %>
    <%= link_to 'Sign in', new_user_session_path %>
  <%- end %>
</span>

