<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @report.title %>
</p>

<p>
  <b>Route:</b>
  <%= @report.route %>
</p>

<p>
  <b>Stop:</b>
  <%= @report.stop %>
</p>

<p>
  <b>Body:</b>
  <%= @report.body %>
</p>

<p>
  <b>User:</b>
  <%= @report.user %>
</p>


<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
