<p id="notice"><%= notice %></p>

<%= render @report %>

<div style="clear:both"></div>

<div id="comments">
	<% @report.comments.each do |c| %>
		<div class="comment">
			<span style="font-size: 16px">"<i><%= c.body %></i>"</span>
			<br /><%= time_ago_in_words(c.created_at) %> ago by 
			<%= c.user.try(:email) %>
			<br /> 
			<br />
		</div>
		<div style="clear:both"></div>
	<% end %>
</div>

<%= form_for @comment do |f| %>
	<%= f.text_area "body" %> 
	<%= f.hidden_field "report_id", :value => @report.id %>
	<%= f.hidden_field "user_id", :value => current_user.try(:id) %>
	<%= f.submit "Comment" %>
<% end %>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
